{% extends "polls/base.html" %}
{% block title %}Vote{% endblock %}

{% block content %}
<div class="poll-detail">
    <h2>{{ question.question_text }}</h2>

    <p class="poll-description">
        {{ question.description }}
    </p>

    <p class="meta">
        Published on {{ question.pub_date }}
    </p>

    {% if error_message %}
        <p class="error">{{ error_message }}</p>
    {% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post" class="vote-form">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <label class="choice">
                <input type="radio" name="choice" value="{{ choice.id }}">
                {{ choice.choice_text }}
            </label>
        {% endfor %}

        <button type="submit" class="btn">Vote</button>
    </form>
</div>
{% endblock %}
